[Desktop Entry]
Categories=System;Utility;ConsoleOnly;
Comment=Launch development environment
Exec=dev
GenericName=Terminal
Icon=Terminator
Name=Development Environment
Terminal=true
TryExec=/usr/sbin/fish
Type=Application
Keywords=Vim;Tmux;Dev
