[Desktop Entry]
Categories=System;Utility;ConsoleOnly;
Comment=Update system dependencies
Exec=system-update
GenericName=System Management
Icon=Terminator
Name=System Update
Terminal=true
TryExec=system-update
Type=Application
Keywords=System;Update;Pacman;Yaourt
