[Desktop Entry]
Version=1.0
Name=Calendar
Comment=Calendar
Exec=omarchy-launch-webapp https://calendar.google.com
Terminal=false
Type=Application
Icon=/home/foliea/.local/share/applications/icons/Calendar.png
StartupNotify=true
