packages: [
  "auto-detect-indentation"
  "file-icons"
  "git-time-machine"
  "isotope-ui"
  "language-docker"
  "language-haml"
  "language-slim"
  "linter"
  "linter-erb"
  "linter-ruby"
  "merge-conflicts"
  "minimap"
  "minimap-autohide"
  "package-sync"
  "pigments"
  "platformio-ide-terminal"
  "project-quick-open"
  "ruby-test-switcher"
  "toggle-quotes"
]
