packages: [
  "auto-detect-indentation"
  "ex-mode"
  "file-icons"
  "isotope-ui"
  "language-docker"
  "linter"
  "linter-erb"
  "linter-ruby"
  "merge-conflicts"
  "minimap"
  "minimap-autohide"
  "package-sync"
  "pigments"
  "platformio-ide-terminal"
  "project-quick-open"
  "toggle-quotes"
  "vim-mode"
]
