[Desktop Entry]
Categories=System;Utility;ConsoleOnly;
Comment=Launch development environment
Exec=development-environment
GenericName=Terminal
Icon=Terminator
Name=Development Environment
Terminal=true
TryExec=development-environment
Type=Application
Keywords=Vim;Tmux;Dev
