[Desktop Entry]
Categories=System;Utility;ConsoleOnly;
Comment=Update system dependencies
Exec=terminator -x "bash -c 'system-update;$SHELL'"
GenericName=System Management
Icon=Terminator
Name=System Update
Terminal=false
TryExec=system-update
Type=Application
Keywords=System;Update;Pacman;Yaourt
